p {
    color:blue;
    font-size: 18px;
    margin-left: 40;
    margin-right: 40;
    }

table {
       border: 4px black;
      }

img {
     border: 1px black;
    }

body {
      background-color:gray;
}